@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div aria-live="polite" aria-atomic="true" class="position-relative">
                <div class="toast-container position-absolute top-0 end-0 p-3" id="toastContainer">
                    <div class="toast hidden" role="alert" aria-live="assertive" aria-atomic="true" id="toastTemplate">
                        <div class="toast-header">
                            <strong class="me-auto" id="toastTemplateTitle"></strong>
                            <small class="text-muted">Just now</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" id="toastTemplateBody"></div>
                    </div>
                </div>
            </div>
            
            @Body
        </article>
    </main>
</div>
