.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #0000FF;
}

.seat.occupied {
    background-color: #FF0000;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}
